<html>
    <head>
        <title>Muere Piñechet</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Aprendiendo Django con el pony</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <cite>Holi qué tal, qué lindo esto yupi</cite>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <strong>Gracias por ayudarme con esto :) un abrazo</strong>
        </div>
    </body>
</html>